body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-image: url("https://i.pinimg.com/736x/07/fa/fc/07fafc2e511922797eb4fc45432dce2b.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}
input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}